/* Colors */
$MainColor: #1E88E5;
$SecondaryColor: #1565C0;
$TerciaryColor: #8EC3F2;
$TextColor: #666666;
$BacklogColor: #9400D3;
$InProgressColor: #FF8C00;
$ReviewColor: #4169E1;
$CompleteColor: #3CB371;

/* Sizes */
$MobileScreen: 600px;
