.sidebar{
  width: 150px;
  height: 100vh;
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 50px;
  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    li{
      padding: 40px 0px 40px 15px;
      cursor: pointer;
    }
    li:last-child{
      margin-top: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
