.header {
  display: grid;
  grid-template-columns: 150px auto 50px 200px;
  height: 50px;
  background-color: $MainColor;
  color: #ffffff;
  position: relative;
  z-index: 1000;

  div {
    padding: 15px;
    border-right: 1px solid $TerciaryColor;
  }

  div:last-child {
    text-align: right;
  }
}

@media only screen and (max-width: $SmallScreen) {
  .header {
    grid-template-columns: 100px auto auto auto;

    h4 {
      text-align: center;
    }
  }
}
